|===
|Parameter|Type|Optional|Description

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{#type}}{{type}}{{/type}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{optional}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/parameters}}
|===